@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: black;
  background: white;
  font: system-ui;
}

@font-face {
  font-family: "mons";
  src: url("../../public/fonts/Montserrat-Medium.ttf");
}
